.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.addProductForm {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 60% 60%;
  padding: 10px;
}

.newProduct {
    flex:4;
   }
  

.CardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 200px;
}
  
  .addProductItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .addProductItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addProductItem > input {
    padding: 10px;
  }
  
  .addProductItem > select {
    padding: 10px;
  }
  
  .addProductButton {
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    margin-left: 48%;
  }


  