
.Cart{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    height: 100%;
    }
    .Cart h1{
        margin-top:2rem;
        margin-bottom: 2rem;
    }
    
    
    .cart1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        }
    
        .carritopegajoso {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            border: solid black;
            background-color: rgba(252, 253, 248, 100);
            color: black;
            border-radius: 0.5rem;
        }
        .cartBrother{
            /* padding-top: 5rem; */
            display: flex;
            flex-direction: column;
            width: 100%;
            border: solid;
            border-color: rgba(128, 128, 128, 0.5);
            border-radius: 0.5rem;
        }
        .carritopegajoso button{
            width: 300px;
            height: 2.5rem;
            border-radius: 0.5rem;
            background-color: rgb(249, 249, 31);
            color: black;
            font-size: 1.3rem;
            font-family: Poppins;
            font-weight: 600;
            
        }
        
        .carritopegajoso >h1{
            font-size: 2rem;
            font-family: Poppins;
            font-weight: 800;
            font-size:1rem ;
        }
        .Brother2{
            width: 100%;
            
        }
        .childrenBro{
            display: flex;
            flex-direction: row;
            justify-content:space-evenly;
            align-items: center;
            
        }
        .childrenBro img{
            display:flex;
            width: 10%;
            justify-content:flex-start;
            align-items: flex-start;
            justify-items:flex-start;
            align-content:flex-start;
            
        }
        .childrenBro h2{
            display: flex;
            width: 10%;
            align-items: center;
            align-content: center;
            margin-right: 1rem;
            margin-left: 1rem;
    
        }
    .repar2{
        display: flex;
        width: 70%;
        justify-content: center;
        align-items: center;
        
        
    }
    
    
    
        .list{
            display: flex;
            flex-direction: row;
            padding: 1rem;
            font-size: 2.6rem;
            font-family: Poppins;
            font-weight: 800;
            font-size:1.2rem ;
            /* justify-content: space-evenly; */
    
        }
        .list h4{
            padding-left: 15%;
        }
        .quantity{
            position: relative;
            margin-left: 38%;
        }
        .price{
            position: relative;
            margin-left: -10%;
    
        }
    
     