.container{
  width: 100%;
  height: 3rem;
    margin: 0.5rem;
display: flex;  
flex-direction: row;  
justify-content:space-between;
align-items: center;
}
.container >img{
    width: 4%;
    height: 3rem;


}
.container >h2{
    font-size: medium;
    width: 30%;
width: 35%;

}
.container >h3{
    font-size: medium;
    width: 15%;

}

.father{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.divisor{
    display: flex;
    flex-direction: row;
}
.icono{
    border:solid;
    height: 1rem;
    width: 1rem;
    background: blueviolet;
    position: absolute;
    margin-top: -13rem;
    margin-left: 10rem;
    cursor: pointer;
}
.icono:hover{
    background: red;
}
.icono1{
    border:solid;
    height: 1rem;
    width: 1rem;
    background: rgb(147, 226, 43);
    position: absolute;
    margin-top: -13rem;
    margin-left: 8rem;
    cursor: pointer;
}
.checkContainer{
    width: 20%;
}
.selectOfert{
    position: absolute;
    margin-left: 35rem;
    background-color: aqua;


}
