@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.containerImages{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    /* align-items:stretch; */
}
.containerImages img{
    width: 33.33%;
    height: 17rem;
}

.containerImages h1{
    position:absolute;
font-family: 'Poppins', sans-serif; 
color:whitesmoke;
font-size: 5rem;
font-weight: 700;
}


.containerImages1{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    /* align-items:stretch; */
}
.containerImages1 img{
    width: 50%;
    height: 27rem;
}



.Iam {
    margin-left: 5rem;
    position:absolute;
        padding: 8rem 10rem;
    font-size: larger;
    font: normal 80px/80px 'Poppins', sans-serif;
    color: rgb(250, 250, 250);
    font-weight: 900;
    

  }
  .Iam p {
      font-weight: 700;
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }
  .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 80px;
    top: -3rem;
    font-weight: 900;
    left: 23rem;

  }
  .Iam .innerIam {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  
  
  /*animation*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  /* @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  } */

  @keyframes move {
      0%  { top: 0px; }
      20% { top: -75px; }
      40% { top: -160px; }
      60% { top: -250px; }
      80% { top: -330px; }
  }
